/* Set body, html, and root to occupy full height and remove default margin */
body,
html,
#root {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  height: 130px;
}