section {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

p {
  padding-left: 5%;
  padding-right: 5%;
}

.team-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.team-info li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex: 1 1 200px; /* Flex-grow, flex-shrink, and flex-basis */
  max-width: 200px;
}

.team-info img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-info h4, .team-info p {
  text-align: center;
  margin: 5px 0;
}