/* Content section that holds both the map and other content */
.content {
    display: flex;
    flex: 1;
    /* Take up the remaining space */
    height: 100%;
    /* Make sure content takes the full available height */
}

/* Container for other content, occupying one-third of the content area */
.other-content {
    flex: 1;
    background-color: #F9EFE5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-left: 0px;
    overflow: auto;
}

/* Style for individual divs inside other-content */
.other-content div {
    margin-bottom: 5px; /* Add spacing between elements */
    width: auto; 
}

.user-input {
    flex: 1;
    padding: 10px;
    /* border: 1px solid rgb(0, 0, 0); */
}

.progress-tracking {    
    flex: 2;
    padding: 0px;
    /* border: 1px solid rgb(0, 0, 0); */
}



/* Mobile-specific styles */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        /* Stack content vertically on mobile */
    }

    .other-content {
        width: 100%;
        /* Ensure both sections take full width on mobile */
        margin: 0;
        order: -1;
        /* Place other content above the map */
        min-height: 100px;
        /* Set a minimum height to ensure it isn't too small */
        box-sizing: border-box;
        /* Ensure padding is included in the width */
        width: 100%;
        /* Ensure both sections take full width on mobile */
        padding: 20px;
        /* Ensure consistent padding */
    }

}