/* Content section that holds both the map and other content */
.content {
    display: flex;
    flex: 1;
    height: 100%;
}

/* Container for other content, occupying one-third of the content area */
.other-content {
    flex: 1;
    background-color: rgb(241, 230, 208);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-left: 0px;
    overflow: auto;
}

.other-content div {
    margin-bottom: 5px;
    width: auto;
}

.user-input {
    transition: height 0.3s ease;
    overflow: hidden;
    margin-top: 20px;
}

.user-input.collapsed {
    height: 0;
}

.user-input.expanded {
    max-height: 1000px;
}

.expand-collapse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    border-radius: 5px; /* Optional: rounded corners for the button */
    background: #fff; /* Ensure button background is white or any desired color */
    font-size: 15px;
    outline: none; /* Remove default focus outline */
}

.expand-collapse-button::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 10px 6px; 
    border-color: transparent transparent #000 transparent; 
    margin-left: 8px; 
}

.expand-collapse-button.collapsed::before {
    margin-left: 0;
    margin-right: 3px;
    border-width: 0 6px 10px 6px;
    border-color: transparent transparent #000 transparent; /* Downward triangle */
}

.expand-collapse-button.expanded::before {
    margin-left: 0;
    margin-right: 3px;
    border-width: 10px 6px 0 6px;
    border-color: #000 transparent transparent transparent; /* Upward triangle */
}

.progress-tracking {
    flex: 2;
    padding: 0px;
}



/* Mobile-specific styles */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        /* Stack content vertically on mobile */
    }

    .other-content {
        width: 100%;
        /* Ensure both sections take full width on mobile */
        margin: 0;
        order: -1;
        /* Place other content above the map */
        min-height: 100px;
        /* Set a minimum height to ensure it isn't too small */
        box-sizing: border-box;
        /* Ensure padding is included in the width */
        width: 100%;
        /* Ensure both sections take full width on mobile */
        padding: 20px;
        /* Ensure consistent padding */
    }

}