.footer {
    background-color: white;
    color: grey;
    text-align: center;
    padding: 5px;
    width: 100%;
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {
    .footer {
        /* position: absolute; */
        top: 33rem;
        z-index: 900;
    }
}