.custom-icon.animate {
    transform-origin: center; 
    animation: fadePulse 2s infinite;
}

@keyframes fadePulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.map-container {
    flex: 2;
    height: 100%;
    position: relative;
    z-index: 5;
}

.instruction-icon {
    position: absolute;
    top: 100px; 
    left: 10px; 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px; 
    border-radius: 5px; 
    z-index: 1000; 
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .map-container {
        width: 100%;
        margin: 0;
    }
}