.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #F0D1C2;
    z-index: 20;
}

.menu-button {
    background-color: #655e5e;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    position: relative;
    z-index: 30;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 40;
    margin-top: 8px;
}

.dropdown-item {
    padding: 5px 25px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
